// Font
$base-font-family: 'Raleway', sans-serif;
$base-font-size: 14px;
$base-line-height: 1.2;
$h1-size: 32px;
$h2-size: 24px;

// Colors
$base-text-color: #1F8AAD;
$base-link-color: #145369;

// Other
$transition-duration: .25s;
$transition-amount: 20%;