* {
  box-sizing: border-box;
}

body {
  font: {
	  family: $base-font-family;
	  size: $base-font-size;
  }
  line-height: $base-line-height;
  color: $base-text-color;
}

h1 {
  font: {
	size: $h1-size;
  }
}

h2 {
  font: {
	size: $h2-size;
  }
}

a {
  @extend %transition;
  
  font: {
	weight: 700;
  }
  color: $base-link-color;
  text-decoration: none;
  
  &:hover,
  &:focus {
	text-decoration: none;
  }
  
  &:hover {
	color: lighten($base-link-color, $transition-amount);
  }
  
  &:focus {
	outline: none;
  }
}

ul {
  @extend %listreset;
}

#app {
  max-width: 1024px;
  padding: 0 30px;
  float: left;
}

#game-grid {
  width: 100%;
  float: left;
}

.grid-row {
  width: 100%;
  float: left;
  border-top: $border-style;
  
  &:last-child {
	border-bottom: $border-style;
  }
  
  .grid-item {
	float: left;
	width: (100% / 9);
	text-align: center;
	border-left: $border-style;
	
	&:last-child {
      border-right: $border-style;
	}
	
	button {
	  width: 100%;
	  background: none;
	  border: none;
	  outline: none;
	  padding: 10px;
	  font: {
		size: 20px;
	  }
	}
  }
}

#controls {
  margin-top: 30px;
  float: left;
}