doctype html
html(lang = 'en')
  head
    meta(charset = 'utf-8')
    meta(name = 'viewport', content='width=device-width, initial-scale=1')
    title NMBRS
    link(rel = 'stylesheet', type = 'text/css', href = '//fonts.googleapis.com/css?family=Raleway:400,300,400italic,600,700')
    link(rel = 'stylesheet', type = 'text/css', href = 'css/vendor.min.css')
    link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
  body
    #app
      include ./partials/header.jade
      main
        h1 NMBRS
        p {{ message }}
        p {{ allNmbrs }} {{ test }}
        #game-grid
          .grid-row(v-for = '(rowIndex, row) in rows')
            .grid-item(v-for = '(index, item) in row', track-by = '$index')
              button(v-on:click = 'select(rowIndex, index, item)') {{ item }}
        results-component(v-bind:selected = 'selectedNmbrs')
        p {{ sum }}
        p {{ valuesAreValid ? 'VALID!' : 'INVALID!' }}
        controls-component
      include ./partials/footer.jade
        block append scripts
          script(type = 'text/javascript', src = 'app.js')